$base-desktop-width: 1280px;
$desktop-width: 1279px;
$base-tablet-width: 768px;
$tablet-width: 767px;
$base-mobile-width: 320px;

$font-base: 15px/160% Arial, Helvetica, sans-serif;
$font-georgia: Georgia, 'Times New Roman', serif;
$font-full-georgia: 2.33rem/130% Georgia, 'Times New Roman', serif;

$color-white: #fff;
$color-gray: #4c4c4c;
$color-dark-gray: #545454;
$color-light-gray: #cdcdcd;
$color-highlight: #3e9cdc;
$color-black: #292929;
$color-gold: #f1cdb3;
$color-gold-light: #fddcc4;

$base-transition: all .3s ease;

$base-spacing: .06rem;