.header {
    padding: 1.9rem 0 1.65rem;

    &__wrap {
        @include flex();
    }

    &__logo {
        @include flex-column();
        transition: $base-transition;

        &-title {
            margin: 0 0 .29rem 0;
            font: 2rem/110% $font-georgia;
            letter-spacing: .12rem;
            color: $color-dark-gray;      
        }

        &-subtitle {
            margin-left: .2rem;
            letter-spacing: $base-spacing;
            font-size: .87rem;
            color: $color-black;
        }
    }

    &__navigation {
        position: relative;
        max-width: 443px;
        width: 100%;
        margin-top: 1rem;

        @media (max-width: $tablet-width) {
            position: fixed;
            top: 0;
            right: -9999px;
            @include flex-column();
            transition: $base-transition;
        }

        &_active {
            right: 0;
            flex-direction: column;
            width: 20rem;
            height: 100%;
            margin-top: 0;
            padding: 2rem .67rem 0;
            background-color: $color-black;
            z-index: 9;
        }

        .header__logo {
            display: none;
            margin-bottom: 10.4rem;
            
            @media (max-width: $tablet-width) {
                display: block;
            }

            &-title {
                color: $color-gold;
            }

            &-subtitle {
                font-size: .8rem;
                color: $color-white;
            }
        }
    }

    &__touch-button {
        position: absolute;
        top: 3rem;
        right: 3.4rem;
        z-index: 10;
        display: block;
        width: 30px;
        height: 25px;
        font-size: 0;
        background-color: transparent;
        cursor: pointer;
        border: none;
        transition: $base-transition; 

        &:before {
            content: '';
            position: absolute;
            top: 2px;
            right: 11%;
            width: 30px;
            height: 2px;
            background-color: $color-gold;
            box-shadow: 0 10px 0 0 $color-gold, 0 20px 0 0 $color-gold;
        }

        &_active {
            position: fixed;
            top: 3.2rem;
            transform: rotate(90deg);
        }

        @media (min-width: $base-tablet-width) {
            display: none;
        }
    }

    &__menu {
        @include flex();

        @media (max-width: $tablet-width) {
            flex-direction: column;
            align-items: center;
        }

        &-item {
            @media (max-width: $tablet-width) {
                margin-bottom: 3.9rem;
            }
        }

        &-link {
            color: $color-dark-gray;
            transition: $base-transition;

            &:hover {
                color: $color-black;
            }
        }

        &-link_active {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                bottom: -7px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $color-gold;
            }
        }

        &_active {
            .header__menu-item {
                margin-bottom: 1rem;
            }

            .header__menu-link {
                font-size: 1.8rem;
                line-height: 160%;
                color: $color-light-gray;

                &:hover {
                    color: $color-gray;
                }
            }
        }
    }
}