.our-friends {
    padding: 5rem 0 2.5rem;
    background-color: #f6f6f6;

    @media (max-width: $desktop-width) {
        padding: 5rem 0 4.75rem;
    }

    @media (max-width: $tablet-width) {
        padding: 2.6rem 0;
    }

    &__heading {
        margin-bottom: 3.8rem;
        font: $font-full-georgia;
        line-height: 123%;
        letter-spacing: 0.03em;
        text-align: center;
        color: $color-dark-gray;

        @media (max-width: $desktop-width) {
            margin-bottom: 1.8rem;
            text-align: center;
        }

        @media (max-width: $tablet-width) {
            margin-bottom: 2.6rem;
            font-size: 1.67rem;
        }
    }
}