$tablet-widths: "min-width: 768px";
$desktop-widths: "min-width: 1150px";
$mobile-widths-rate: 81%;
$tablet-widths-rate: 87%;
$desctop-widths-rate: 91.2%;

$body-font: 15px/24px 'OpenSans',Arial, sans-serif;

$body-font-family: 'OpenSans',Arial, sans-serif;

$body-bg: #fff;

$bg-block: #f1f1f1;

$body-color: #444;

$body-secondary-color: #000;

$link-color: #444;

$bg-products-color: #63d1bb;

$border-line: 1px solid #ececec;

$indent-size: 20px;
