.products-container {
  width: 100%;
  margin: 0 auto;
}

.products-container__list {
  position: relative;
  display: inline-flex;
  width: 100%;
  padding: 25px 5.3% 30px 9%;
  line-height: 24px;
  font-size: 19px;
  text-align: left;
  background-color: $bg-products-color;
  transition: .3s ease;

  &--toys {
    background-color: #56c3b2;
  }

  &--interior:hover,
  &--toys:hover {
    padding-bottom: 35px;
    margin-top: -5px;
  }

  &--interior:hover {
    background-color: #59d5bc;
  }

  &--toys:hover {
    background-color: #46c1ae;
  }

  &:active .products-container__heading {
    color: rgba(255,255,255,.3);
  }
}

.products-container__interior-icon,
.products-container__toys-icon {
  position: absolute;
  top: 23px;
  right: 11.3%;
  width: 40px;
  height: 62px;
  opacity: .5;
  cursor: pointer;
  fill: #149080;
  opacity: 0.5;
  transition: .3s ease;

  &:hover {
    opacity: 0.7;
    fill: #149080;
  }

  &:active {
    opacity: 0.3;
    fill: #149080;
  }
}

.products-container__toys-icon {
  top: 21px;
  right: 8.7%;
  width: 60px;
  height: 60px;

  @media (min-width: 500px) {
    right: 9.7%;
  }
}

.products-container__heading {
  color: $body-bg;
}

@media ($tablet-widths) {

  .products-container {
    display: flex;
    width: $tablet-widths-rate;
  }

  .products-container__list {
    padding: 28px 5.3% 30px;
    font-size: 20px;
    line-height: 29px;
  }

  .products-container__interior-icon {
    top: 30px;
  }

  .products-container__toys-icon {
    top: 31px;
  }
}

@media ($desktop-widths) {

  .products-container {
    width: $desctop-widths-rate;
  }

  .products-container__list {
    padding: 26px 3.6% 30px;
  }

  .products-container__interior-icon {
    right: 7.3%;
  }

  .products-container__toys-icon {
    right: 6.7%;
  }
}
